openapi: 3.1.0
info:
  title: 'Amazon ECR Amazon Elastic Container Registry (ECR) Amazon ECR Amazon Elastic Container Registry (ECR) API #BatchGetImage API'
  description: Amazon ECR is a fully managed container registry for storing, managing, sharing, and deploying container images and artifacts.
  version: '2015-09-21'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/ecr/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.ecr.amazonaws.com
  description: Amazon ECR API endpoint
tags:
- name: '#BatchGetImage'
paths:
  /#BatchGetImage:
    post:
      operationId: batchGetImage
      summary: Amazon ECR Batch Get Image
      description: Gets detailed information for an image. Images are specified with either an imageTag or imageDigest.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              required:
              - repositoryName
              - imageIds
              properties:
                registryId:
                  type: string
                  description: The AWS account ID associated with the registry.
                repositoryName:
                  type: string
                  description: The repository that contains the images to get.
                imageIds:
                  type: array
                  items:
                    type: object
                    properties:
                      imageDigest:
                        type: string
                      imageTag:
                        type: string
                  description: A list of image ID references to retrieve.
                acceptedMediaTypes:
                  type: array
                  items:
                    type: string
                  description: The accepted media types for the request.
            examples:
              batchGetImageRequestExample:
                summary: Default batchGetImage request
                x-microcks-default: true
                value: {}
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - AmazonEC2ContainerRegistry_V20150921.BatchGetImage
        example: AmazonEC2ContainerRegistry_V20150921.BatchGetImage
      responses:
        '200':
          description: Successful response with the image details.
        '400':
          description: Bad request error.
      tags:
      - '#BatchGetImage'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    aws_sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication.
