openapi: 3.2.0
info:
  title: Amazon ECR Amazon Elastic Container Registry (ECR) API
  description: Amazon ECR is a fully managed container registry for storing, managing, sharing, and deploying container images and artifacts.
  version: '2015-09-21'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/ecr/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.ecr.amazonaws.com
  description: Amazon ECR API endpoint
tags:
- name: Amazon ECR Amazon Elastic Container Registry (ECR) API
paths:
  /:
    post:
      operationId: createRepository
      summary: Amazon ECR Create Repository
      description: Creates a repository in a registry. If the repository already exists, an exception is thrown.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              required:
              - repositoryName
              properties:
                repositoryName:
                  type: string
                  description: The name to use for the repository.
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      Key:
                        type: string
                      Value:
                        type: string
                  description: The metadata to apply to the repository.
                imageTagMutability:
                  type: string
                  enum:
                  - MUTABLE
                  - IMMUTABLE
                  description: The tag mutability setting for the repository.
                imageScanningConfiguration:
                  type: object
                  properties:
                    scanOnPush:
                      type: boolean
                  description: The image scanning configuration for the repository.
                encryptionConfiguration:
                  type: object
                  properties:
                    encryptionType:
                      type: string
                      enum:
                      - AES256
                      - KMS
                    kmsKey:
                      type: string
                  description: The encryption configuration for the repository.
            examples:
              createRepositoryRequestExample:
                summary: Default createRepository request
                x-microcks-default: true
                value: {}
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - AmazonEC2ContainerRegistry_V20150921.CreateRepository
        example: AmazonEC2ContainerRegistry_V20150921.CreateRepository
      responses:
        '200':
          description: Successful response with the created repository details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRepositoryResponse'
              examples:
                createRepository200Example:
                  summary: Default createRepository 200 response
                  x-microcks-default: true
                  value:
                    repository: example-string
        '400':
          description: Bad request error.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon ECR Amazon Elastic Container Registry (ECR) API
components:
  schemas:
    CreateRepositoryResponse:
      type: object
      properties:
        repository:
          $ref: '#/components/schemas/Repository'
    Repository:
      type: object
      properties:
        repositoryArn:
          type: string
          description: The Amazon Resource Name (ARN) of the repository.
          example: arn:aws:service:us-east-1:123456789012:resource/example
        registryId:
          type: string
          description: The AWS account ID associated with the registry.
          example: example-id-1234
        repositoryName:
          type: string
          description: The name of the repository.
          example: example-resource-name
        repositoryUri:
          type: string
          description: The URI for the repository.
          example: example-string
        createdAt:
          type: string
          format: date-time
          description: The date and time the repository was created.
          example: '2025-03-15T14:30:00Z'
        imageTagMutability:
          type: string
          enum:
          - MUTABLE
          - IMMUTABLE
          description: The tag mutability setting for the repository.
          example: MUTABLE
        imageScanningConfiguration:
          type: object
          properties:
            scanOnPush:
              type: boolean
          description: The image scanning configuration for the repository.
          example:
            scanOnPush: true
        encryptionConfiguration:
          type: object
          properties:
            encryptionType:
              type: string
            kmsKey:
              type: string
          description: The encryption configuration for the repository.
          example:
            encryptionType: standard
            kmsKey: example-string
  securitySchemes:
    aws_sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication.
