openapi: 3.2.0
info:
  title: 'Amazon ECR Amazon Elastic Container Registry (ECR) Amazon ECR Amazon Elastic Container Registry (ECR) API #ListImages #List Images #List Images API'
  description: Amazon ECR is a fully managed container registry for storing, managing, sharing, and deploying container images and artifacts.
  version: '2015-09-21'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/ecr/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.ecr.amazonaws.com
  description: Amazon ECR API endpoint
tags:
- name: '#ListImages'
paths:
  /#ListImages:
    post:
      operationId: listImages
      summary: Amazon ECR List Images
      description: Lists all the image IDs for the specified repository.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              required:
              - repositoryName
              properties:
                registryId:
                  type: string
                  description: The AWS account ID associated with the registry.
                repositoryName:
                  type: string
                  description: The repository with image IDs to be listed.
                nextToken:
                  type: string
                  description: Pagination token from a previous request.
                maxResults:
                  type: integer
                  description: The maximum number of image results.
                filter:
                  type: object
                  properties:
                    tagStatus:
                      type: string
                      enum:
                      - TAGGED
                      - UNTAGGED
                      - ANY
                  description: The filter key and value to filter on.
            examples:
              listImagesRequestExample:
                summary: Default listImages request
                x-microcks-default: true
                value: {}
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - AmazonEC2ContainerRegistry_V20150921.ListImages
        example: AmazonEC2ContainerRegistry_V20150921.ListImages
      responses:
        '200':
          description: Successful response with image IDs.
        '400':
          description: Bad request error.
      tags:
      - '#ListImages'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    aws_sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication.
